# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/build
/.angular
# Only the `browser` directory will be built under the `dist` folder
# It will be copied to the `dist` folder when running `ng build` with the `--output-path` option.
# You can control that behavior with the `--output-path` option.
# See https://angular.io/cli/build#--output-path.

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# Include docs folder for GitHub Pages
!/docs
