<app-hero></app-hero>

<div id="about" data-component="about">
  <app-about></app-about>
</div>

<div id="problems" data-component="problems">
  <app-problems-solved></app-problems-solved>
</div>

<div id="services" data-component="services">
  <app-services></app-services>
</div>

<div id="experience-proof" data-component="experience-proof">
  <app-experience-proof></app-experience-proof>
</div>

<div id="projects" data-component="projects">
  <app-project></app-project>
</div>

<div id="tech-stack" data-component="tech-stack">
  <app-tech-stack></app-tech-stack>
</div>

<div id="why-work" data-component="why-work">
  <app-why-work-with-me></app-why-work-with-me>
</div>

<div id="experience" data-component="experience">
  <app-career-history></app-career-history>
</div>

<div id="contact" data-component="contact">
  <app-contact></app-contact>
</div>
